[submodule "Probabilidad-y-Estadistica-61.09"]
	path = Probabilidad-y-Estadistica-61.09
	url = https://github.com/gcc-cdimatteo/Probabilidad-y-Estadistica-61.09.git
[submodule "Organizacion-de-Datos-75.06"]
	path = Organizacion-de-Datos-75.06
	url = https://github.com/gcc-cdimatteo/Organizacion-de-Datos-75.06
[submodule "Sistemas-Operativos-75.08"]
	path = Sistemas-Operativos-75.08
	url = https://github.com/gcc-cdimatteo/Sistemas-Operativos-75.08
[submodule "Estructura-del-Computador-66.70"]
	path = Estructura-del-Computador-66.70
	url = https://github.com/gcc-cdimatteo/Estructura-del-Computador-66.70
[submodule "Taller-de-Programacion-I-75.42"]
	path = Taller-de-Programacion-I-75.42
	url = https://github.com/gcc-cdimatteo/Taller-de-Programacion-I-75.42
[submodule "Teoria-de-Algoritmos-I-75.29"]
	path = Teoria-de-Algoritmos-I-75.29
	url = https://github.com/gcc-cdimatteo/Teoria-de-Algoritmos-I-75.29
[submodule "Algoritmos-y-Programacion-I-75.40"]
	path = Algoritmos-y-Programacion-I-75.40
	url = https://github.com/gcc-cdimatteo/Algoritmos-y-Programacion-I-75.40
[submodule "Analisis-Numerico-I-75.12"]
	path = Analisis-Numerico-I-75.12
	url = https://github.com/gcc-cdimatteo/Analisis-Numerico-I-75.12
[submodule "Algoritmos-y-Programacion-III-75.07"]
	path = Algoritmos-y-Programacion-III-75.07
	url = https://github.com/gcc-cdimatteo/Algoritmos-y-Programacion-III-75.07
[submodule "Fisica-II-A-62.03"]
	path = Fisica-II-A-62.03
	url = https://github.com/gcc-cdimatteo/Fisica-II-A-62.03
[submodule "Base-de-Datos-75.15"]
	path = Base-de-Datos-75.15
	url = https://github.com/gcc-cdimatteo/Base-de-Datos-75.15
